* {
    box-sizing: border-box;
}

.list {
    width: 100%;
}

.list th {
    background-color: #2b78e4;
    height: 50px;
    font-size: 25px;

}

.list tr:nth-child(odd) {
    background-color: #97c5f8;

}

.list td {
    text-align: center;

}

.list tr:nth-child(even) {
    background-color: white;
}

img {
    height: 100px;
    width: 100px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: none;
}

button {
    min-width: 200px;
    height: 50px;
    background-color: green;
    color: white;
    border-color: green;
}

button.warning {
    background-color: red;
}

.to-right {
    float: right;
}

.full-width {
    width: 100%;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid black;
    border-top: none;
}

.form-row:nth-child(odd) {
    background-color: #97c5f8;
}

.form-row:nth-child(even) {
    background-color: white;
}

.form-row.right {
    justify-content: flex-end;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 20px;
    border: 1px solid black;
    align-items: center;
}

.header h1 {
    margin: 0;
    line-height: 1;
}